<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>devshack-maven</id>
      <username>DevOps-Eng</username>
      <password>AgPOOUDG5TSxRyUX0rbVMLXIIf9R6At9Ufxn4Xo1yYZsSWLkFVSeJQQJ99BAACAAAAAe85hDAAASAZDOjnQa</password>
    </server>
  </servers>
</settings>
